<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-md-offset-4 main main-title">
        <h1><center>Sign In</center></h1><br><br>

    
    <div class="container" id="sawo-container" style="height: 300px; width: 300px"></div>

    <script src="https://websdk.sawolabs.com/sawo.min.js"></script>
    <script>
      // Fetching payload from sessionStorage
      const payload = sessionStorage.getItem("payload");
      if (payload) {
        // If the payload is available, that means the user has logged in already.
        // So redirecting back to "/login"
        window.location.href = "/user/profile";
      }
      var config = {
        // should be same as the id of the container created on 3rd step
        containerID: "sawo-container",
        // can be one of 'email' or 'phone_number_sms'
        identifierType: "email",
        // Add the API key copied from 2nd step
        apiKey: "37b21289-e8a9-4fb8-ab06-660a15cee0b2",
        // Add a callback here to handle the payload sent by sdk
        onSuccess: (payload) => {
          // Storing the payload in sessionStorage
          sessionStorage.setItem("payload", JSON.stringify(payload));
          // Redirecting to "/success"
         window.location.href = "/user/profile";
          
        },
      };
      var sawo = new Sawo(config);
      sawo.showForm();
    </script>
    </div>
</div>
 
